body {
  font-size: 14px;
  color: white;
  background: #90AFC5;
}

.app-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 50px;
}

.navigation-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: baseline;
  align-items: center;
  width: 52%;
}

.navigation-container a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid #763626;
  border-radius: 4px;
  height: 25px;
  padding: 8px;
  background: #336B87;
  font-weight: 700;
}

.navigation-container a:visited {
  color: white;
}

.navigation-container a:hover {
  cursor: pointer;
}

.component-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.workouts-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.workout {
  width: 50%;
  height: auto;
  margin: 16px auto;
  background: #336B87;
  border: 2px solid #763626;
  border-radius: 4px;
  padding: 8px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
}

.workout .workout-info {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.workout .workout-exercises div {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.workout .workout-exercises .exercise {
  text-transform: none;
}

.workout .workout-exercises .exercises-empty {
  text-transform: none;
}

.forms {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-field button,
.form-field label {
  align-self: flex-start;
}
